@font-face {
    font-family: 'Norse Bold';
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: "Roboto Medium";
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

:root {
    --width-input-border: 1px;
    --radius-inputs: 0.25em;
    --padding-inputs: 0.25em;
}

body * {
    display: flex;
}

form,
input {
    display: inline-block;
}

p>a {
    margin-left: 4px;
    color: rgb(89, 109, 72);
}

p+p+p {
    margin-top: 40px;
}

#signupContainer {
    display: flex;
    width: 900px;
    height: 600px;
    margin: auto;
    /* border: 2px solid yellow; */
}

#logo {
    background-color: rgba(24, 24, 24, 0.5);
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Norse Bold', 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 35%;
}

#footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    gap: 2px;
}

#leftContainer {
    /* border: 1px solid red; */
    background-image: url(Images/annie-spratt-8mqOw4DBBSg-unsplash.jpg);
    background-size: cover;
    width: 344px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#leftContainer>p,
#leftContainer a {
    color: white;
}

#rightContainer {
    /* border: 1px solid blue; */
    width: calc(900px - 344px);
    flex-direction: column;
    flex-grow: 1;
}

#topTextContainer,
#bottomContainer {
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 15%);
    padding-left: 5%;
    padding-right: 10%;
}

#topTextContainer>p {
    font-family: "Roboto Medium", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

#topTextContainer>p:first-child {
    margin-top: 20%;
}

#formContainer {
    flex-direction: column;
    gap: 20px;
    margin: 0;
    width: 100%;
    height: 150px;
    /* border: 2px pink solid; */
    gap: 15px;
    box-shadow: 0px 10px 35px -35px #000000;
    z-index: 1;
    padding-bottom: 3%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 5px;
}

label {
    font-family: "Roboto Medium", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9px;
}

input {
    padding: var(--padding-inputs);
    border: var(--width-input-border) solid rgba(24, 24, 24, 0.25);
    border-radius: var(--radius-inputs);
}

input:invalid {
    padding: var(--padding-inputs);
    border: var(--width-input-border) solid rgba(255, 13, 0, 0.5);
    border-radius: var(--radius-inputs);
}

input:focus {
    outline: none;
    padding: var(--padding-inputs);
    border: var(--width-input-border) solid rgba(0, 115, 255, 1);
    border-radius: var(--radius-inputs);
    box-shadow: 0px 0px 4px;
}

fieldset {
    justify-content: space-between;
    padding-right: 20%;
    padding-left: 5%;
    border: 0px;
}

fieldset>div {
    display: flex;
    flex-direction: column;
}

#bottomContainer {
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: rgb(240, 240, 240);
}

#bottomContainer>button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(89, 109, 72);
    border: 0px;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

#bottomContainer>p {
    margin-top: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}